.create {
  font-family: "Amatic SC", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
}

.create input,
.create label {
  font-size: 1.5em;
  line-height: 1.6em;
  font-weight: 600;
  width: 60%;
}

.create input {
  border-radius: 0.5em;
  font-family: "Amatic SC", cursive;
}

.create .places {
  width: 70%;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.where {
  margin-top: 0.8em;
}

.inputCont {
  display: flex;
  flex-direction: row;
}

.input {
  flex: 1;
}

.loc {
  cursor: pointer;
}
